*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#header{
    background: linear-gradient(rgba(52, 48, 48, 0.879), rgba(11, 11, 11, 0.725)), url(images/donation14.webp);
    height: 100vh;
    background-color: rgba(52, 48, 48, 0.323);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.container{
    padding: 10px 10%;
}
.header-text{
    margin-top: 200px;
}
.heading{
    font-size: 60px;
}
.header-description{
    margin: 20px 0 20px;
}
.btn{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color:#FF5959;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
}
@media screen and (max-width:567px) {
    .heading{
        font-size: 25px;
    }
}
/* --------about---------- */

#donate-today{
    margin-top: 100px;
    text-align: center;
}
.common-header{
    font-size: 50px;
}
.donate-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 75px;
}
.donate-box{
    background-color: #eeeded;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.content-color{
    color: #696969;
}
.amount{
    margin: 70px 0 30px;
    border-bottom: 1px solid #696969;
}
@media screen and (max-width:567px) {
    .common-header{
        font-size: 30px;
    }
    .donate-container{
        grid-template-columns:repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
}



