*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#header{
    background: linear-gradient(rgba(52, 48, 48, 0.879), rgba(11, 11, 11, 0.725)), url(images/donation14.webp);
    height: 100vh;
    background-color: rgba(52, 48, 48, 0.323);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.container{
    padding: 10px 10%;
}
.header-text{
    margin-top: 200px;
}
.heading{
    font-size: 60px;
}
.header-description{
    margin: 20px 0 20px;
}
.btn{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color:#FF5959;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
}

/* --------about---------- */

#donate-today{
    margin-top: 100px;
    text-align: center;
}
.common-header{
    font-size: 50px;
}
.donate-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 75px;
}
.donate-box{
    background-color: #eeeded;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.content-color{
    color: #696969;
}
.amount{
    margin: 70px 0 30px;
}

/* ----------Our Donate Plan----------- */

.our-donate-plan{
    text-align: center;
    margin: 100px 0;
}
.plan-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.food{
    background-color: #EDF5F6;
    padding: 40px 20px;
    text-align: left;
    border-radius: 10px;
}
.food h1{
    margin: 30px 0 20px ;
}
.food p{
    color: #696969;
}
.selter{
    background-color: #FFEEEE;
    padding: 40px 20px;
    text-align: left;
    border-radius: 10px;
}
.selter h1{
    margin: 30px 0 20px ;
}
.selter p{
    color: #696969;
}
.education{
    background-color: #FFF4D6;
    padding: 40px 20px;
    text-align: left;
    border-radius: 10px;
}
.education h1{
    margin: 30px 0 20px ;
}
.education p{
    color: #696969;
}

/* --------depand-donate--------- */

#depand-donation{
    margin-bottom: 100px;
}
.donation-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    margin-bottom: 60px;
}
.col-1 p{
    margin: 30px 0 20px;
}
.col-2 img{
    width: 100%;
    border-radius: 10px ;
}

/* ---------get my update-------------- */

.update{
    text-align: center;
    margin-bottom: 100px;
}
.subscribe input{
    padding: 10px 20px;
    background: none;
    border-radius: 5px;
    border: 1px solid #000;
}
.subscribe{
    background-color: #FFEEEE;
    padding: 50px 30px;
    border-radius: 10px;
}
.btn3{
    padding: 10px 20px;
}

/* ------footer-------- */

#footer{
    background-color: #000;
    color: #fff;
}
.footer-description{
    text-align: center;
    padding: 30px 0 10px;
}
.footer-description h1{
    color: #FF5959;
}
.footer-description p{
    margin-top: 20px;
}


@media screen and (max-width:576px) {
    .heading{
        font-size: 25px;
    }
    .common-header{
        font-size: 30px;
    }
    .donate-container{
        grid-template-columns:repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
    .plan-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .donation-container{
        grid-template-columns: none;
        gap: 40px;
        margin-bottom: 0;
    }
}
